tensorflow~=2.13.0
numpy~=1.24.3
tokenization~=1.0.7
transformers~=4.31.0
bert-for-tf2~=0.14.9
sentencepiece~=0.1.99
matplotlib~=3.7.2
pandas~=2.0.3
pydot~=1.4.2
tensorflow_intel==2.13.0
protobuf~=3.20.0